.container
            #footer.row-fluid
                .span4.footer
                    i.icon-map-marker
                    span 
                    a.fancybox(href='#map').semilink Хабаровск
                    span.semilink-next , 
                    | 2013
                    br
                    img(src='/img/twitter.png') 
                    span  А новости 
                    a(href='https://twitter.com/sadsam_ru') в Твиттере
                #share.span4.footer
                    script(src="//yandex.st/share/share.js")
                    i.icon-share(title='Поделиться')
                    span.yashare-auto-init(data-yashareL10n="ru", data-yashareType="none", data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus")
                #design.span4.footer Разработка 
                    a(href='mailto:inkuzmin@ya.ru') И.
                        span.semispace
                        | Н.
                        span.semispace
                        | Кузьмина