.navbar
  .navbar-inner
    ul.nav
        li
            a(href='/') Растения
        li
            a(href='/articles') Статьи
        li
            a(href='/about') О питомнике
        li
            a(href='/faq') Оплата и доставка