extends layout

block content
  .qa
    p.question — Где вы находитесь?
    p.answer — Мы в Хабаровске.
  .qa
    p.question — Как мне заказать понравившееся растение?
    p.answer — Вы можете позвонить по телефону, отправить СМС или написать нам письмо — мы свяжемся с вами в течение одного рабочего дня. Кроме того, вы можете воспользоваться кнопкой «Заказать» напротив понравившегося растения.
  .qa
    p.question — Можно ли заказать растение из другого города?
    p.answer — I dunno LOL ¯\(°_o)/¯
  .qa
    p.question — Как и когда я могу оплатить заказ? Принимаете ли вы электронные деньги?
    p.answer — I dunno LOL ¯\(°_o)/¯
  .qa
    p.question — Каковы сроки доставки? Бесплатна ли она?
    p.answer — I dunno LOL ¯\(°_o)/¯
  .qa
    p.question — Все ли растения представленные на сайте есть в наличии?
    p.answer — I dunno LOL ¯\(°_o)/¯

block backbone
  script(src='/js/script.js')