extends layout

block content
  .qa
    p.question — Где вы находитесь?
    p.answer — Мой питомник находится недалеко от Хабаровска в деревне Свечино.
  .qa
    p.question — Как мне заказать понравившееся растение?
    p.answer — Заказать понравившиеся растения можно по электронной почте. Или по телефону. Или отправив СМС. Или нажав на кнопочку с ценой под понравившимся растением. Главное — сообщите номер телефона. В течение дня я свяжусь с вами для уточнения способа и срока доставки.
  .qa
    p.question — Можно ли заказать растение из другого города? Каковы сроки доставки? Бесплатна ли она?
    p.answer — Растения могут быть доставлены в город в объеме легковой машины типа «универсал». В случае большего объема – самовывоз из Свечино. Доставка до улицы Ленина бесплатно, а также бесплатно доставка по улице Карла Маркса и до поселков Тополево и Матвеевка. Подвоз растений в черте города 200 руб., в отдаленные районы, такие как Южный, 5 площадка, Северный, База КАФ, 2-й Хабаровск - 300 руб. Доставка в пригородную зону 500 руб.
  .qa
    p.question — Как и когда я могу оплатить заказ? Принимаете ли вы электронные деньги?
    p.answer — Оплата производится при получении растений. Возможен безналичный расчет. Электронные деньги мы пока не принимаем.
  .qa
    p.question — Все ли растения представленные на сайте есть в наличии?
    p.answer — I dunno LOL ¯\(°_o)/¯

block backbone
  script(src='/js/script.js')